<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="true">Edible</option>
          <option value="false">Poisonous</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | filter:$ctrl.orderProp">
          <span>{{phone.name}}</span>
          <p>{{phone.description}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
